<script setup lang="ts">
import MainLayout from '@/router/layouts/MainLayout.vue'
</script>

<template>
  <MainLayout>
    <h1>This is the page for {{ name }}</h1>
  </MainLayout>
</template>

<style lang="scss" module></style>
